<mat-sidenav-container class="tp-container">
    <mat-sidenav #sidenav mode="side" opened class="tp-sidenav">
        <app-side-bar #sidebar></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="warm">
            <button mat-icon-button color='warm' (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            Graph Options
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>