.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-header {
  min-height: 11vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 7vmin);
  color: #5A5A5A
}

.center-button-container {
  padding-top: 3vh;
  display: flex;
  justify-content: center;
}
.left-button{
  margin-right: 1vh;
}
.right-button{
  margin-left:1vh;
}

/* Centered text */
.centered-text {
  margin: auto;
  width: 50%;
  padding: 10px;
}