<div>
    <h1 class="center-header">California Broadband Study</h1>
    <div class="center-screen">
        <img src="assets/img/calspeed.png" alt="image" width="25%" height="25%">
    </div>
    <div class="center-button-container">
        <button class="left-button" mat-raised-button [disabled]="buttonIsDisabled" color="primary"
            (click)="goToGraphs()">Graph</button>
        <button class="right-button" mat-raised-button [disabled]="compButtonDisabled"
            color="primary" (click)="comparison()">Comparison</button>
    </div>
    <div class="centered-text">
        Welcome to the CSUMB Calspeed broadband study. From this website, results of the California broadband study can
        be viewed as a bar graph.
        Select broadband options from the sidebar menu. To the see resulting graph select the Graph button. To see a
        comparison to another broadband
        carrier select Comparison. Then select options for the comparison graph.
    </div>
</div>