<div>
    <h1 class="center-header" style="color:grey;">California Broadband Study</h1>
    <div class="center-screen">
        <img src="assets/img/calspeed.png" alt="image" width="25%" height="25%">
    </div>
    <!--
    <div class="center-button-container">
        <button class="left-button" mat-raised-button [disabled]="buttonIsDisabled" color="primary"
            (click)="goToGraphs()">Graph</button>
        <button class="right-button" mat-raised-button [disabled]="compButtonDisabled" color="primary"
            (click)="comparison()">Comparison</button>
        <button class="right-button" mat-raised-button color="primary" (click)="resetSideNav()">Reset</button>
    </div>
    -->
    <div class="centered-div">
        <h2 style="text-align: center;">Select Graph Type</h2>
        <div class="center-button-container" style="padding-bottom: 3vh;">
            <button class="left-button" color='warm' matTooltip="Bar Graphs">
                <mat-icon>bar_chart</mat-icon>
            </button>
            <button class="right-button" color='warm' matTooltip="Line Graphs">
                <mat-icon>multiline_chart</mat-icon>
            </button>
            <button class="right-button" color='warm' matTooltip="County Line Graphs" (click)="openCountyDialog()">
                <mat-icon>area_chart</mat-icon>
            </button>
        </div>
        Welcome to the CSUMB Calspeed broadband study. From this website, results of the California broadband
        study can be viewed as different graphs. To view graph results, start by clicking one of the buttons above
        for which type of data aggregation you would like to view.
    </div>
    <!--
    <div *ngIf="(compDataService.graphType | async) != 'graph'
        && (compDataService.graphType | async) !='line-graph'
        && (compDataService.graphType | async) != 'county-line-graph'" class="centered-div">
        Welcome to the CSUMB Calspeed broadband study. From this website, results of the California broadband
        study can be viewed as different graphs. The different graph types can be chosen from the top menu bar. Then
        once
        all options are selected on the left hand sidebar menu, the Graph button will be enabled
        to display graph results. Also, the Comparison button can be selected to allow for options for a second graph
        (and third graph) in the sidebar menu.
    </div>
    <div *ngIf="(compDataService.graphType | async) == 'line-graph'" class="centered-div">
        The line graph lets you select a specific download speed range for a carrier and phone model. Each point on the
        graph will show the percentage of tests for the carrier/phone model that were within the chosen download speed
        range.
    </div>
    <div *ngIf="(compDataService.graphType | async) == 'county-line-graph'" class="centered-div">
        The options in the sidebar menu on the left let you choose graph results for county wide data. For example, you
        could select a carrier, phone model, and a county and see the average download speed recorded in that county as
        a line graph from different batches of tests going back to 2017. A note about the phone model option. If a batch
        of tests does not include that phone model, the next most current model will be chosen and displayed as a data
        point.
    </div>
    -->
</div>