<mat-sidenav-container class="tp-container">
  <mat-sidenav mode="side" opened class="tp-sidenav">
    <section class="tp-section">
      <span>Rounds(Years)</span>
    </section>
    <section class="tp-section">
      <span>Carriers</span>
    </section>
    <section class="tp-section">
      <span>Phone Models</span>
    </section>
    <section class="tp-section">
      <span>Servers</span>
    </section>
    <section class="tp-section">
      <span>Tests</span>
    </section>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-home-page></app-home-page>
  </mat-sidenav-content>
</mat-sidenav-container>