<mat-nav-list>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Rounds
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="roundSelected" (change)="ngOnChanges($event)">
            <mat-radio-button *ngFor="let round of rounds" [value]="round">
                {{round}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Carriers
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="carrierSelected" (change)="ngOnChanges($event)">
            <mat-radio-button *ngFor="let carrier of carriers" [value]="carrier">
                {{carrier}}
            </mat-radio-button>
            <div *ngIf="!roundSelected">Select Round First</div>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Phone Models
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="phoneSelected" (change)="ngOnChanges($event)">
            <mat-radio-button *ngFor="let phone of phone_models" [value]="phone">
                {{getDataService.getModelMapValue(phone)}}
            </mat-radio-button>
            <div *ngIf="!carrierSelected">Select Carrier First</div>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Servers
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="serverSelected" (change)="ngOnChanges($event)">
            <mat-radio-button *ngFor="let server of servers" [value]="server">
                {{getDataService.getServerMapValue(server)}}
            </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="!phoneSelected">Select Model First</div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Tests
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="testSelected" (change)="ngOnChanges($event)">
            <mat-radio-button *ngFor="let test of tests" [value]="test">
                {{test}}
            </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="!serverSelected">Select Server First</div>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="!homePage">
        <mat-expansion-panel-header>
            Update graph
        </mat-expansion-panel-header>
        <div class="center-button-container">
            <button mat-raised-button color="primary">Update</button>
        </div>
    </mat-expansion-panel>
</mat-nav-list>