<mat-nav-list>
    <mat-expansion-panel *ngIf="comparison">
        <mat-expansion-panel-header>
            Graph
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="graphOptions.graphSelected" (change)="ngOnChanges()">
            <mat-radio-button *ngFor="let graph of graphs" [value]="graph">
                {{this.compDataService.getGraph(graph)}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Rounds
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="graphOptions.roundSelected" (change)="ngOnChanges()">
            <mat-radio-button *ngFor="let round of graphOptions.rounds" [value]="round">
                {{this.compDataService.getRoundMapValue(round)}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Carriers
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="optionsSelected.carrierSelected" (change)="ngOnChanges()">
            <mat-radio-button *ngFor="let carrier of optionsSelected.carriers" [value]="carrier">
                {{carrier}}
            </mat-radio-button>
            <div *ngIf="!graphOptions.roundSelected">Select Round First</div>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Phone Models
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="optionsSelected.phoneSelected" (change)="ngOnChanges()">
            <mat-radio-button *ngFor="let phone of optionsSelected.phone_models" [value]="phone">
                {{compDataService.getModelMapValue(phone)}}
            </mat-radio-button>
            <div *ngIf="!optionsSelected.carrierSelected">Select Carrier First</div>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Servers
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="graphOptions.serverSelected" (change)="ngOnChanges()">
            <mat-radio-button *ngFor="let server of optionsSelected.servers" [value]="server">
                {{compDataService.getServerMapValue(server)}}
            </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="!optionsSelected.phoneSelected">Select Model First</div>
    </mat-expansion-panel>
</mat-nav-list>