<mat-nav-list>
    <mat-expansion-panel *ngIf="graphOptions.comparison">
        <mat-expansion-panel-header>
            Graph
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="graphOptions.graphSelected" (change)="ngOnChanges()">
            <mat-radio-button *ngFor="let graph of graphs" [value]="graph">
                {{this.compDataService.getGraph(graph)}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="(compDataService.graphType | async) == 'bar-graph'">
        <mat-expansion-panel-header>
            Rounds
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="optionsSelected.roundSelected" (change)="ngOnChanges()">
            <mat-radio-button *ngFor="let round of graphOptions.rounds" [value]="round">
                {{this.compDataService.getRoundMapValue(round)}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Carriers
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="optionsSelected.carrierSelected" (change)="ngOnChanges()">
            <mat-radio-button *ngFor="let carrier of optionsSelected.carriers" [value]="carrier">
                {{carrier}}
            </mat-radio-button>
            <div *ngIf="graphOptions.graphType=='bar-graph' && !optionsSelected.roundSelected">Select Round First</div>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Phone Models
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="optionsSelected.phoneSelected" (change)="ngOnChanges()">
            <mat-radio-button *ngFor="let phone of optionsSelected.phone_models" [value]="phone">
                {{compDataService.getModelMapValue(phone)}}
            </mat-radio-button>
            <div *ngIf="!optionsSelected.carrierSelected">Select Carrier First</div>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="(compDataService.graphType | async) == 'line-graph'">
        <mat-expansion-panel-header>
            Speed Range
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="graphOptions.testSelected" (change)="ngOnChanges()">
            <mat-radio-button *ngFor="let test of lineGraphOptions.tests" [value]="test">
                {{test}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="(compDataService.graphType | async) == 'county-line-graph'">
        <mat-expansion-panel-header>
            Counties
        </mat-expansion-panel-header>
        <mat-radio-group class="radio-group" [(ngModel)]="optionsSelected.countySelected" (change)="ngOnChanges()">
            <mat-radio-button *ngFor="let county of graphOptions.counties" [value]="county">
                {{county}}
            </mat-radio-button>
        </mat-radio-group>
    </mat-expansion-panel>
</mat-nav-list>